<%= turbo_frame_tag dom_id(tweet) do %>
  <div id="<%= dom_id tweet %>" class="my-10 p-6 max-w-sm mx-auto bg-gray-100 rounded-xl shadow-lg flex items-center space-x-4">
    <div>
      <p>
        <strong>Body:</strong>
        <%= tweet.body %>
      </p>
    </div>

    <div>
      <%= button_to "Likes (#{tweet.likes_count})", tweet_likes_path(tweet) %> |
      <%= button_to "Retweets (#{tweet.retweets_count})", tweet_retweets_path(tweet) %> | 
      <%= link_to "Edit", edit_tweet_path(tweet), class: "btn px-4 py-1 text-sm text-gray-600 font-semibold rounded-full border border-gray-200 hover:text-white hover:bg-gray-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-offset-2" %>
    </div>

  </div>
<% end %>